{% extends 'base_layout.html' %}

{% block content %}
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% for m in months %}
                    <li class="sidebar-brand">
                        {% if m.month == months[current_month].month %}
                        <a class="active" href="">{{m.month}}</a>
                        {% else %}
                        <a class="inactive" href="">{{m.month}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <br />
                        <form method="get" action="/dashboard/dances/add">
                            <button type="submit" class="btn btn-success">Add Dance</button>
                        </form>
                        <h2>Dances</h2>
                        {% for dance in months[current_month].dances %}
                <hr/>
                {% if dance.band %}
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Entertainment</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ dance.band }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Where</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ dance.location }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>When</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ dance.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Price</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ dance.price }}</p>
                    </div>
                </div>
                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}