.navbar {
    background: #300142;
    border: 0 none;
    border-radius: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    vertical-align: middle;
}

.navbar .navbar-header {
    color: #ffffff;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 15px;
}

.navbar .navbar-header h4 {
    padding-left: 35px;
    margin-bottom: 10px;
}

.navbar a {
    color: #ffffff;
}

.logout {
    line-height: 50px;
    font-size: 14px;
    vertical-align: middle;
    float:right;
    padding-right: 50px;
}

.navbar a:hover, .navbar a:active {
    cursor: pointer;
    color: #c4c4c4;
    text-decoration: none;
}

.navbar-header {
    height: 50px;
}

.navbar-container {
    margin-left: 35px;
    margin-right: 50px;
}

.white-text {
    color: #ffffff
}

.container-fluid {
    margin-left: 0px;
    margin-right: 2px;
    background: #dbc5e8;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid-shadow {
    margin-left: 50px;
    margin-right: 48px;
    /*padding-bottom: 2px;*/
    padding-top:2px;
    background: #300142;
}

.title {
    padding-left: 50px;
    color: #ffffff;
    font-size: 65px;
    font-family: cursive, arial, sans-serif;
}

body {
    background: #855b9d;
}