<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SaskDance{% endblock %}</title>
    {% include 'style-includes/header.html' %}
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        {% if role == 'admin' %}
            <div class="navbar-header"><h4>Dashboard</h4></div>
            <div class="logout "><a href="#logout">Sign Out</a></div>
        {% else %}
        <div class="navbar-container">
            <div class="navbar-header"><a href="#dances">Dances</a></div>
            <div class="navbar-header"><a href="#events">Events</a></div>
            <div class="navbar-header"><a href="#lessons">Lessons</a></div>
            <div class="navbar-header"><a href="#workshops">Workshops</a></div>
            <div class="navbar-header"><a href="#news">News</a></div>
        </div>
        {% endif %}
    </div>
    <h1 class="title">SaskDance</h1>
    <div class="container-fluid-shadow">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>