{% extends 'base_layout.html' %}

{% block content %}
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% for m in months %}
                    <li class="sidebar-brand">
                        {% if m.month == months[current_month].month %}
                        <a class="active" href="">{{m.month}}</a>
                        {% else %}
                        <a class="inactive" href="">{{m.month}}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <br />
                        <h2>Dances</h2>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}