{% extends 'base_layout.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-10">
                <h2>Special Events</h2>
            </div>
        </div>
        {% for event in events %}
        <hr/>
        <div class="row">
            <div class="col-lg-10">
                {% if event.band %}
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Entertainment</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ event.band }}</p>
                    </div>
                </div>
                {% endif %}
                {% if event.name %}
                <div class="row">
                    <div class="col-lg-3">
                        <p>{{ event.name }}</p>
                    </div>
                </div>
                {% endif %}
                {% if event.description %}
                <div class="row">
                    <div class="col-lg-3">
                        <p>{{ event.description }}</p>
                    </div>
                </div>
                {% endif %}
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Where</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ event.location }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>When</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ event.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <p><b>Price</b></p>
                    </div>
                    <div class="col-lg-3">
                        <p>{{ event.price }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}